   
    *{
        /* border: 1px solid red; */
    }
    .active a{
        color: #FAC033 !important;
    }
    .bg-primary{
        background-color: #352C66 !important;
        color: #fff !important;
    }
    .text-primary{
        color: #352C66 !important;
    }
    .btn-primary{
        color: #fff !important;
        background-color: #352C66 !important;
    }

    .theme-text-color{
        color: #352C66;
    }
    .theme-bg-color{
        background-color: #352C66;
        color: #fff;
    }
    .theme-btn-outline{
        border: 2px solid #352C66;
        box-shadow: none;
    }
    .theme-btn{
        color: #fff;
        background-color: #352C66;
    }
    .theme-font-size-8{
        font-size: 0.8rem;
    }
    .top-25 {
        top: 25%!important;
    }
    .h-100vh{
        height: 100vh !important;
        min-height: 100vh !important;
        display: flex !important;
        align-items: center !important;
    }


    /* Start Navbar */
    .navbar-before-scroll .nav-link, .navbar-before-scroll .navbar-toggler-icon {
        color: #fff;
    }

    .navbar-after-scroll .nav-link, .navbar-after-scroll .navbar-toggler-icon {
        color: #4f4f4f;
    }
    .navbar-after-scroll {
        background-color: #fff;
    }
    .navbar-after-scroll {
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }

    .navbar-before-scroll {
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    .navbar.navbar-before-scroll.navbar-after-scroll {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    @media (max-width: 991.98px) {
        #main-navbar {
            background-color: #fff;
        }

        .nav-link, .navbar-toggler-icon {
            color: #4f4f4f !important;
        }
    }
    /* End Navbar */

    @media (max-width: 667px) {
        header .carousel-item img {
            height: 45vh !important;
        }
        .w-50{
            width: 100% !important;
        }
        .h-100vh{
            height: auto !important;
        }
    }
    @media (max-width: 667px) {
        .quicktool{
            position: unset !important;
            padding: 0 1rem !important;
            margin: 3rem 0 !important;
        }
        .quicktool.h-25{
            height: 100% !important;
        }
        .quicktool.w-25{
            width: 100% !important;
        }
        .quicktool.translate-middle {
            transform: none !important;;
        }
    }

    /* dropdown */
    .dropdown:hover>.dropdown-menu {
        display: block;
    }
    .dropdown>.dropdown-toggle:active {
        pointer-events: none;
     }


    .box-shadow{
        -webkit-box-shadow: 0 1px 1px rgba(72,78,85,.6);
        box-shadow: 0 1px 1px rgba(72,78,85,.6);
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }
      
    .box-shadow:hover{
        -webkit-box-shadow: 0 20px 40px rgba(72,78,85,.6);
        box-shadow: 0 20px 40px rgba(72,78,85,.6);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        transform: translateY(-15px);
    }


  .title:after {
    background: #eed484;
    border-radius: 30rem;
    content: "";
    display: block;
    height: 0.6rem;
    margin: 1.6rem auto 0;
    width: 6.2rem;
}
.land-article-hover {
    background-color: rgba(57, 62, 93, 0.7);
    position: relative;
    padding: 0;
    overflow: hidden;
    max-width: 350px;
    margin: 5px;
    border-radius: 1rem;
  }
  
  .land-article-hover article {
    padding: 10%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .land-article-hover h2 {
    color: #fff;
    font-weight: 800;
    font-size: 25px;
    border-bottom: #fff solid 1px;
  }
  
  .land-article-hover h4 {
    font-weight: 300;
    color: #fff;
    font-size: 16px;
  }
  
  .land-article-hover img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    -webkit-transition: all 4s ease;
    -moz-transition: all 4s ease;
    -o-transition: all 4s ease;
    -ms-transition: all 4s ease;
    transition: all 4s ease;
  }
  
  .land-article-footer {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 70px;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    transform: translate(0px, 70px);
    -webkit-transform: translate(0px, 70px);
    -moz-transform: translate(0px, 70px);
    -o-transform: translate(0px, 70px);
    -ms-transform: translate(0px, 70px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .land-article-footer span {
    color: #fff;
    position: relative;
    margin: 0 auto;
    width: 100%;
    top: 13px;
  }
  
  
  /*hovers*/
  
  .land-article-hover:hover {
    cursor: pointer;
  }
  
  .land-article-hover:hover img {
    opacity: 0.1;
    transform: scale(1.5);
  }
  
  .land-article-hover:hover article {
    transform: translate(2px, -69px);
    -webkit-transform: translate(2px, -69px);
    -moz-transform: translate(2px, -69px);
    -o-transform: translate(2px, -69px);
    -ms-transform: translate(2px, -69px);
  }
  
  .land-article-hover:hover .land-article-footer {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    opacity: 1;
  }

  .glass{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 667px) {
    .dropdown-toggle::after{
        float: right;
    }
}

.whatsapp{
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 8rem;
    right: 1rem;
}
.whatsapp img{
    height: 3rem;
}